@using Alumni.Models.ViewModel
@model LoginViewModel
@{
    ViewData["Title"] = "Welcome";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
    body {
        background: #007bff;
        background: linear-gradient(to right, #0062E6, #33AEFF);
    }

    .btn-login {
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
        padding: 0.75rem 1rem;
    }

    .btn-google {
        color: white !important;
        background-color: #ea4335;
    }

    .btn-facebook {
        color: white !important;
        background-color: #3b5998;
    }
    .form-control{
        background: #d1eeff4d;
        backdrop-filter: blur(20px);
        border-radius: 8px;
    }
</style>

    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5 " style="background: hsla(0, 0%, 100%, 0.65);
            backdrop-filter: blur(20px);">
                <div class="card-body p-4 p-sm-5 ">
                        <h3 class="card-title text-center mb-5 fw-light fs-5">Sign In</h3>
                        
                        <form method="post" asp-action="Login">
                                <div class="mb-3">
                                    <label asp-for="Email" class="form-label"><i class="fas fa-envelope"></i> Email</label>
                                    <input asp-for="Email" type="email" class="form-control" placeholder="Enter your email address"  />
                                    @if(ViewBag.Error != null)
                            {
                                <span asp-validation-for="Email" class="text-danger">@ViewBag.Error</span>
                                
                            }
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Password" class="form-label"><i class="fas fa-key"></i> Password</label>
                                    <input asp-for="Password" type="password" class="form-control" placeholder="Enter your password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="mb-3 form-check">
                                    <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                                    <label asp-for="RememberMe" class="form-check-label">Remember me</label>
                                </div>
                                <div class="text-center mt-4">
                                    <button type="submit" class="btn btn-primary btn-lg"><i class="fas fa-check-circle"></i> Login</button>
                                </div>
                            </form>
                            <hr class="my-4">
                            <div class="d-grid mb-2">
                                <a href="/Account/RegisterAlumni" class="btn btn-google btn-login text-uppercase fw-bold">
                                    Sign in as Alumni
                                </a>
                            </div>
                            <div class="d-grid">
                                <a href="/Account/RegisterFacultyRep" class="btn btn-facebook btn-login text-uppercase fw-bold">
                                     Sign in as Faculty Representative
                                </a>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
   
}
